[submodule "LoU"]
	path = LoU
	url = https://github.com/Lady-Binary/LoU.git
[submodule "SharpMonoInjector"]
	path = SharpMonoInjector
	url = https://github.com/Lady-Binary/SharpMonoInjector.git
[submodule "AssetStudio"]
	path = AssetStudio
	url = https://github.com/Lady-Binary/AssetStudio.git
